<div class="container">
    <div class="selections">
        <mat-select placeholder="Type" [(value)]="selectedType" [disabled]="active">
            <mat-option *ngFor="let type of algorithmTypes" [value]=type>{{type.type | uppercase}}</mat-option>
        </mat-select>
        
        <mat-select placeholder="Algorithm"  [(value)]="selectedAlgo" [disabled]="active">
            <mat-option *ngFor="let algo of selectedType?.algos" [value]=algo>{{algo.name | uppercase}}</mat-option>
        </mat-select>
        
        <mat-slider class="array_length" step="1" min="50" max="500" [discrete]="true" [disabled]="active">
            <input matSliderThumb  (valueChange)="sliderChangedValue($event)">
        </mat-slider>
    </div>

    <div class="buttons">  
        <mat-divider></mat-divider>
        <button mat-raised-button (click)="generate()" [disabled]="active">GENERATE</button>
        <button mat-raised-button (click)="start()" [disabled]="active">START</button>
    </div>
</div>