.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: red;

    @media (max-width: 500px){
        width: 100vw;
    }

    &.sidebar-collapsed{
        width: 50px;

        @media (max-width: 500px){
            width: 0px;
        }
    }

    & .collapseButton{
        background-color: yellow;
        height: 50px;
        width: 50px;
        position: fixed;
        bottom: 0;
        left: 0;
        &.collapsedIcon{
            background-color: blue;
        }
    }
}